{% extends "common.html" %}
{% block styleinclude %}
	<link rel="stylesheet" type="text/css" href="static/articles.css">
{% endblock %}
{% block jsinclude %}
	<script type="text/javascript" src="static/articles.js"></script>
{% endblock %}
{% block pagecontent %}
	<div class="ui main container pusher">

		<p>The following articles are contained within this database. They were found by the queries, years and states detailed on the "queries" page. You can modify whether they have been checked and are relevant here. Those articles marked as checked will not be shown again in the "assessment" page.</p>
		<table class="ui selectable celled compact table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Chk</th>
					<th>Rel</th>
					<th>Date</th>
					<th>Category</th>
					<th>People</th>
					<th>Queries</th>
					<th>Heading</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
			{% for article in articles %}
				<tr class="article" id="{{ article.id }}">
					<td>{{ article.id }} <i class="external alternate icon"></i></td>
					<td><input type="checkbox" class="assessed" name="assessed" {% if article.assessed %}checked{% endif %}></td>
					<td><input type="checkbox" class="relevant" name="relevant" {% if article.relevant %}checked{% endif %}></td>
					<td>{{ article.date }}</td>
					<td>{{ article.category_id }}</td>
					<td>{% for person in article.people %}{{ person.name }}{{ ", " if not loop.last }}{% endfor %}</td>
					<td>{% for query in article.queries %}{{ query.query }}{{ ", " if not loop.last }}{% endfor %}</td>
					<td>{{ article.heading }}<i class="ellipsis horizontal icon"></i></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="ui bottom sidebar">
		<h1>Sidebar</h1>
		<p>Blah blah</p>
	</div>
{% endblock %}
