<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page_title }}</title>
	<link rel="stylesheet" type="text/css" href="static/common.css">
	<link rel="icon" href="static/gen_logo.png">
	{% block styleinclude %}
	{% endblock %}
	<script type="text/javascript" src="static/comms.js"></script>
	{% block jsinclude %}
	{% endblock %}
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"
		integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
		crossorigin="anonymous">
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"
		integrity="sha256-x1fC6BXl6BwnUhfQqqqC0Fd/n12wH+u8u9va6+E7xaA="
		crossorigin="anonymous"></script>
</head>
<body>
	<div class="ui top fixed menu">
		<div class="ui container">
			<div class="header item"><img class="ui avatar image" src="/static/gen_logo.png">{{ page_title }}</div>
			<div class="right icon menu">
				<a class="item" href="/collector.html"><i class="search icon"></i>Collector</a>
				<a class="item" href="/assessment.html"><i class="check square outline icon"></i>Assessment</a>
				<a class="item" href="/articles.html"><i class="newspaper outline icon"></i>Articles</a>
				<a class="item" href="/people.html"><i class="address book outline icon"></i>People</a>
				<a class="item" href="/queries.html"><i class="edit outline icon"></i>Queries</a>
				<div class="item"><i class="red circular lightbulb icon"></i></div>
			</div>
		</div>
	</div>

	{% block pagecontent %}
	{% endblock %}

</body>
</html>
