<!DOCTYPE html>
<html>
<head>
	<title>{{ db_title }}</title>
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<script type="text/javascript" src="static/db.js"></script>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Chk</th>
				<th>Rel</th>
				<th>Date</th>
				<th>Category</th>
				<th>Heading</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
		{% for article in articles %}
			<tr>
				<td>{{ article.article_id }}</td>
				<td><input type="checkbox" name="assessed" {% if article.assessed %}checked{% endif %}></td>
				<td><input type="checkbox" name="relevant" {% if article.relevant %}checked{% endif %}></td>
				<td>{{ article.date }}</td>
				<td>{{ article.category }}</td>
				<td>{{ article.heading }}</td>
			</tr>
		{% endfor %}
	</table>

</body>
</html>