{% extends "common.html" %}
{% block styleinclude %}
	<link rel="stylesheet" type="text/css" href="static/people.css">
{% endblock %}
{% block jsinclude %}
	<script type="text/javascript" src="static/people.js"></script>
{% endblock %}
{% block pagecontent %}
	<div class="ui main container">

		<p>The following people have been associated with articles in this database. You can edit their names and dates of birth and death here.</p>
		{# https://codepen.io/ashblue/pen/mCtuA #}
		<table class="ui selectable celled compact table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>DOB</th>
					<th>DOD</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
			{% for person in people %}
				<tr id="{{ person.id }}">
					<td>{{ person.id }}</td>
					<td contenteditable="true" data-type="name">{{ person.name }}</td>
					<td contenteditable="true" data-type="dob">{{ person.date_of_birth }}</td>
					<td contenteditable="true" data-type="dod">{{ person.date_of_death }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
