<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>People in {{ db_title }}</title>
	<link rel="stylesheet" type="text/css" href="static/people.css">
	<script type="text/javascript" src="static/people.js"></script>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"
		integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
		crossorigin="anonymous">
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"
		integrity="sha256-x1fC6BXl6BwnUhfQqqqC0Fd/n12wH+u8u9va6+E7xaA="
		crossorigin="anonymous"></script>
</head>
<body>
	<div class="ui fixed menu">
		<div class="ui container">
			<div class="header item">People in {{ db_title }}</div>
			<div class="right icon menu">
				<a class="item" href="/"><i class="check square outline icon"></i>Assessment</a>
				<a class="item" href="articles.html"><i class="newspaper outline icon"></i>Articles</a>
				<div class="disabled item" href="people.html"><i class="address book outline icon"></i>People</div>
				<a class="item" href="queries.html"><i class="edit outline icon"></i>Queries</a>
			</div>
		</div>
	</div>

	{# https://codepen.io/ashblue/pen/mCtuA #}
	<div class="ui main container">
		<table class="ui selectable celled compact table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>DOB</th>
					<th>DOD</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
			{% for person in people %}
				<tr id="{{ person.id }}">
					<td>{{ person.id }}</td>
					<td>{{ person.name }}</td>
					<td contenteditable="true">{{ person.date_of_birth }}</td>
					<td contenteditable="true">{{ person.date_of_death }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>
