{% extends "common.html" %}
{% block styleinclude %}
	<link rel="stylesheet" type="text/css" href="static/queries.css">
{% endblock %}
{% block jsinclude %}
	<script type="text/javascript" src="static/queries.js"></script>
{% endblock %}
{% block pagecontent %}
	<div class="ui main container">
		<div class="ui grid">
			<div class="three wide column">

				<table class="ui selectable celled compact table" id="year_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					{% for year in years %}
						<tr id="{{ year.id }}">
							<td>{{ year.id }}</td>
							<td>{{ year.year }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>

			<div class="ten wide column">

				<table class="ui selectable celled compact table" id="query_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Query</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					{% for query in queries %}
						<tr id="{{ query.id }}">
							<td>{{ query.id }}</td>
							<td>{{ query.query }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>

			<div class="three wide column">

				<table class="ui selectable celled compact table" id="highlight_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Highlight</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					{% for highlight in highlights %}
						<tr id="{{ highlight.id }}">
							<td>{{ highlight.id }}</td>
							<td>{{ highlight.highlight }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>

		</div>
	</div>
{% endblock %}
