<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Queries in {{ db_title }}</title>
	<link rel="stylesheet" type="text/css" href="static/queries.css">
	<script type="text/javascript" src="static/queries.js"></script>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"
		integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
		crossorigin="anonymous">
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"
		integrity="sha256-x1fC6BXl6BwnUhfQqqqC0Fd/n12wH+u8u9va6+E7xaA="
		crossorigin="anonymous"></script>
</head>
<body>
	<div class="ui fixed menu">
		<div class="ui container">
			<div class="header item">Queries in {{ db_title }}</div>
			<div class="right icon menu">
				<a class="item" href="/"><i class="check square outline icon"></i>Assessment</a>
				<a class="item" href="articles.html"><i class="newspaper outline icon"></i>Articles</a>
				<a class="item" href="people.html"><i class="address book outline icon"></i>People</a>
				<div class="disabled item" href="queries.html"><i class="edit outline icon"></i>Queries</div>
			</div>
		</div>
	</div>

	<div class="ui main container">

		<div class="ui grid">
			<div class="three wide column">

				<table class="ui selectable celled compact table" id="year_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					{% for year in years %}
						<tr id="{{ year.id }}">
							<td>{{ year.id }}</td>
							<td>{{ year.year }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>

			<div class="ten wide column">

				<table class="ui selectable celled compact table" id="query_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Query</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					{% for query in queries %}
						<tr id="{{ query.id }}">
							<td>{{ query.id }}</td>
							<td>{{ query.query }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>

			<div class="three wide column">

				<table class="ui selectable celled compact table" id="highlight_table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Highlight</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					{% for highlight in highlights %}
						<tr id="{{ highlight.id }}">
							<td>{{ highlight.id }}</td>
							<td>{{ highlight.highlight }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>

		</div>

	</div>
</body>
</html>
