html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div#content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

form#relevance {
	flex: none;
	padding: 2px 0px 2px 0px;
}

iframe#trove {
	flex: 1 1 auto;
}
